* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
}

.p-class {
  font-size: 16px;
  line-height: 26px;
  color: #1F3F68;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.05em;
}

.h1-class {
  font-size: 64px;
  color: #1F3F68;
  width: 510px;
  font-style: normal;
  font-weight: 300;
  line-height: 74px;
  letter-spacing: 0.04em;
  margin-bottom: 32px;
}

.h2-class {
  font-weight: 500;
  font-size: 44px;
  text-align: center;
  line-height: 74px;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}

.h3-class {
  font-size: 36px;
  text-align: center;
  font-style: normal;
  font-weight: 300;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #000000;
  margin-top: 64px;
}

.h4-class {
  font-size: 20px;
  line-height: 30px;
  color: #1F3F68;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.05em;
  color: #1F3F68;
}

.input-style {
  border: 1px solid #356EAD;
  box-sizing: border-box;
  border-radius: 10px;
  opacity: 0.4;
  width: 100%;
  padding: 20px 30px;
}

.textarea-style {
  border: 1px solid #356EAD;
  box-sizing: border-box;
  border-radius: 10px;
  opacity: 0.4;
  width: 100%;
  padding: 20px 30px;
  height: 144px;
}

.form-button {
  background: #5A98D0;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-top: 72px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 15px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 34px;
  /*margin-bottom: 107px;*/
}

.h1-text {
  width: 425px;
  opacity: 0.6;
  margin-bottom: 71px;
}

.main-block {
  min-height: 768px;
  height: 769px;
  left: 0;
  top: 0;
  background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-button {
  width: 220px;
  background: #5A98D0;
  box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  border-radius: 10px;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  padding: 15px 50px;
  text-decoration: none;
}

.main-info {
  margin-top: 107px;
  flex-grow: 1;
  background-image: url("img/illustration.png");
  background-repeat: no-repeat;
  background-position: right top;
  /*background-size: 44%;*/
}

.element-list {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
}

.element {
  width: 359px;
  background: #FFFFFF;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  padding-left: 32px;
  padding-right: 32px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.element-image {
  align-self: center;
  margin-bottom: 51px;
  margin-top: 44px;
  margin-right: 60px;
}

.element-image2 {
  align-self: center;
  margin-bottom: 44px;
  margin-top: 14px;
}

.element-link {
  margin-top: 30px;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #5A98D0;
  margin-bottom: 44px;
  display: flex;
}

.element-link::after {
  content: url("data:image/svg+xml,%3Csvg width='23' height='22' viewBox='0 0 23 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.3369 3.6582L10.0049 4.94771L15.2765 10.06H3.77905V11.8891H15.2765L10.0049 17.0014L11.3369 18.2909L18.8948 10.9745L11.3369 3.6582Z' fill='%235A98D0'/%3E%3C/svg%3E%0A");
  display: inline-block;
  margin-top: 4px;
  margin-left: 20px;
}

.projects-p {
  max-width: 65%;
  text-align: center;
  margin: 32px auto;
  color: #222222;
}

.project-bigitem {
  margin-top: 40px;
  position: relative;
}

.project-image {
  width: 100%;
}

.project-bigitem-text {
  font-size: 32px;
  line-height: 46px;
  text-align: right;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  position: absolute;
  top: 64px;
  right: 64px;
}

.project-items {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

.project-item {
  flex-grow: 1;
  position: relative;
}

.left-item {
  margin-right: 32px;
}

.project-item-text {
  font-size: 28px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  position: absolute;
  top: 32px;
  left: 32px;
}

.footer {
  margin-top: 112px;
  background: #316099;
  height: 657px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
}

.footer-top-text {
  width: 495px;
  margin-top: 27px;
  margin-bottom: 96px;
}

.footer-title {
  width: 340px;
  text-align: left;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  margin-bottom: 32px;
}

.footer-p {
  color: #FFFFFF;
  opacity: 0.6;
}

.footer-top-button {
  margin-top: 165px;
}

.footer-button {
  text-decoration: none;
  background: #5A98D0;
  width: 237px;
  height: 56px;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  padding: 15px 80px;
}

.footer-contacts {
  margin-top: 64px;
  margin-bottom: 64px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.footer-copyright {
  color: #FFFFFF;
  opacity: 0.4;
}

.footer-li {
  flex-grow: 1;
  flex-basis: 33.3333%;
  list-style-type: none;
  margin-right: 32px;
  display: flex;
}

.footer-li:first-child::before {
  content: "A. ";
  display: block;
  margin-right: 16px;
}

.footer-li:nth-child(2)::before {
  content: "T. ";
  display: block;
  margin-right: 16px;
}

.footer-li:nth-child(3)::before {
  content: "E. ";
  display: block;
  margin-right: 16px;
}

.li-phone {
  list-style-type: "N.    ";
}

.li-email {
  list-style-type: "E     ";
}

.container-contacts {
  max-width: 940px;
  margin: 0 auto;
}

.contacts-info {
  display: flex;
  margin-bottom: 96px;
}

.contacts {
  /*flex-grow: 1;*/
  padding-right: 101px;
  padding-top: 70px;
  width: 300px;
}

.form {
  flex-grow: 1;
  background: #FFFFFF;
  box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  padding: 16px 56px 56px 56px;
}

.h4-class-contacts {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  text-transform: uppercase;
  margin-top: 40px;
}

.contacts-p {
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  opacity: 0.6;
  margin-top: 24px;
}

.contacts-li {
  list-style-type: none;
  display: flex;
}

.li-phone::before {
  content: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.62 7.79C5.06 10.62 7.38 12.93 10.21 14.38L12.41 12.18C12.68 11.91 13.08 11.82 13.43 11.94C14.55 12.31 15.76 12.51 17 12.51C17.55 12.51 18 12.96 18 13.51V17C18 17.55 17.55 18 17 18C7.61 18 0 10.39 0 1C0 0.45 0.45 0 1 0H4.5C5.05 0 5.5 0.45 5.5 1C5.5 2.25 5.7 3.45 6.07 4.57C6.18 4.92 6.1 5.31 5.82 5.59L3.62 7.79Z' fill='%231F3F68'/%3E%3C/svg%3E%0A");
  display: inline-block;
  margin-right: 20px;
  margin-top: 5px;
}

.li-site::before {
  content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.99 2C6.47 2 2 6.48 2 12C2 17.52 6.47 22 11.99 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 11.99 2ZM18.92 8H15.97C15.65 6.75 15.19 5.55 14.59 4.44C16.43 5.07 17.96 6.35 18.92 8ZM12 4.04C12.83 5.24 13.48 6.57 13.91 8H10.09C10.52 6.57 11.17 5.24 12 4.04ZM4.26 14C4.1 13.36 4 12.69 4 12C4 11.31 4.1 10.64 4.26 10H7.64C7.56 10.66 7.5 11.32 7.5 12C7.5 12.68 7.56 13.34 7.64 14H4.26ZM5.08 16H8.03C8.35 17.25 8.81 18.45 9.41 19.56C7.57 18.93 6.04 17.66 5.08 16ZM8.03 8H5.08C6.04 6.34 7.57 5.07 9.41 4.44C8.81 5.55 8.35 6.75 8.03 8ZM12 19.96C11.17 18.76 10.52 17.43 10.09 16H13.91C13.48 17.43 12.83 18.76 12 19.96ZM14.34 14H9.66C9.57 13.34 9.5 12.68 9.5 12C9.5 11.32 9.57 10.65 9.66 10H14.34C14.43 10.65 14.5 11.32 14.5 12C14.5 12.68 14.43 13.34 14.34 14ZM14.59 19.56C15.19 18.45 15.65 17.25 15.97 16H18.92C17.96 17.65 16.43 18.93 14.59 19.56ZM16.36 14C16.44 13.34 16.5 12.68 16.5 12C16.5 11.32 16.44 10.66 16.36 10H19.74C19.9 10.64 20 11.31 20 12C20 12.69 19.9 13.36 19.74 14H16.36Z' fill='%231F3F68'/%3E%3C/svg%3E%0A");
  display: inline-block;
  margin-right: 20px;
  margin-top: 5px;
}

.li-email::before {
  content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 4H4C2.9 4 2.01 4.9 2.01 6L2 18C2 19.1 2.9 20 4 20H20C21.1 20 22 19.1 22 18V6C22 4.9 21.1 4 20 4ZM20 8L12 13L4 8V6L12 11L20 6V8Z' fill='%231F3F68'/%3E%3C/svg%3E%0A");
  display: inline-block;
  margin-right: 20px;
  margin-top: 5px;
}

.form-element {
  margin-top: 32px;
}

.form-label {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  opacity: 0.8;
  display: block;
  margin-bottom: 8px;
}

.what-we-do p {
  opacity: 0.6;
  margin-top: 14px;
}

.banner {
  background-image: url("img/contacts-bg.png");
  background-repeat: no-repeat;
  background-size: 1366px;
  background-position: center;
  padding-top: 51px;
  padding-bottom: 49px;
  margin-top: 47px;
  margin-bottom: 57px;
}

.banner-p {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
  width: 780px;
  margin: 16px auto;
}

.contacts-img {
  width: 300px;
}

.contacts-iframe {
  width: 100%;
  height: 400px;
  position: relative;
}

@media (max-width: 1200px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }

  .header {
    margin-top: 12px;
  }

  /*.main-block {*/
  /*    height: 0;*/
  /*    min-height: 768px;*/
  /*}*/
  .main-info {
    background-size: 44%;
    background-position: right center;
  }

  .element-list {
    flex-direction: column;
    align-items: center;
  }

  .element {
    margin-bottom: 32px;
  }

  .footer {
    padding-bottom: 64px;
  }

  .footer-top {
    padding-left: 124px;
    padding-right: 124px;
  }

  .footer-top-text {
    margin-top: 0;
    width: auto;
  }

  .footer-p {
    width: 336px;
  }

  .footer-button {
    padding: 12px 30px;
  }

  .footer-bottom {
    padding-left: 124px;
    padding-right: 124px;
  }

  .footer-contacts {
    margin-bottom: 25px;
    flex-direction: column;
  }

  .footer-li {
    margin-bottom: 25px;
  }

  .banner {
    margin-top: 0;
    padding-top: 40px;
    margin-bottom: 0;
  }
  .banner-p {
    width: 520px;
  }

  .container-contacts {
    flex-direction: column;
    align-items: center;
  }

  .contacts {
    padding-right: 0;
    margin-bottom: 64px;
  }

  .form {
    width: 520px;
    box-sizing: border-box;
    padding: 16px 56px 56px 56px;
  }
}
@media (max-width: 667px) {
  .container {
    padding-right: 16px;
    padding-left: 16px;
  }

  .header {
    margin-top: 24px;
    /*margin-bottom: 36px;*/
  }

  .main-block {
    min-height: 376px;
    height: auto;
    padding-bottom: 41px;
    box-sizing: border-box;
  }

  .main-info {
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: none;
  }

  .h1-class {
    width: 100%;
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 12px;
    text-align: center;
  }

  .h1-text {
    width: 100%;
    text-align: center;
    margin-bottom: 32px;
  }

  .main-button {
    font-size: 12px;
    line-height: 26px;
    padding: 0 8px;
  }

  .h3-class {
    font-size: 24px;
    line-height: 28px;
    margin-top: 48px;
  }

  .element-list {
    margin-top: 32px;
  }

  .element {
    width: 100%;
  }

  .projects-p {
    max-width: 100%;
  }

  .project-bigitem-text {
    font-size: 16px;
    line-height: 19px;
    top: 16px;
    right: 16px;
  }

  .project-items {
    flex-direction: column;
    margin-top: 16px;
  }

  .left-item {
    margin-right: 0;
    margin-bottom: 16px;
  }

  .project-item-text {
    left: 16px;
    top: 26px;
    font-size: 16px;
    line-height: 19px;
  }

  .footer {
    margin-top: 64px;
    height: auto;
    padding-bottom: 32px;
  }

  .footer-top {
    flex-direction: column;
    /*display: block;*/
    align-items: center;
  }

  .footer-top-text {
    width: auto;
    margin-top: 0;
    margin-bottom: 0;
  }

  .footer-title {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 32px;
    margin-top: 18px;
    width: 100%;
  }

  .footer-p {
    text-align: center;
    font-size: 16px;
    line-height: 26px;
  }

  .footer-top-button {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .footer-button {
    padding: 10px 24px;
  }

  .footer-contacts {
    margin-top: 32px;
    margin-bottom: 32px;
    flex-direction: column;
    font-size: 16px;
    line-height: 19px;
  }

  .footer-li {
    margin-bottom: 17px;
    list-style-type: decimal;
  }

  .footer-li:first-child::before {
    content: "1. ";
  }

  .footer-li:nth-child(2)::before {
    content: "2. ";
  }

  .footer-li:nth-child(3)::before {
    content: "3. ";
  }

  .footer-copyright {
    text-align: center;
  }

  .h2-class {
    font-size: 24px;
    line-height: 28px;
  }

  .header {
    margin-top: 12px;
  }

  .banner {
    margin-bottom: 0;
  }
  .banner-p {
    width: 341px;
    font-size: 16px;
    line-height: 30px;
  }

  .form {
    width: 342px;
  }
}

/*# sourceMappingURL=style.css.map */
