@media (max-width: 769px) {
  .title {
    &-content {
      height: 148px;
      align-items: center;
    }
  }

  .filter {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;

    &-main {
      position: initial;
    }

    &-detail {
      margin-left: 0;
      width: auto;
    }
  }

  .products {
    margin-top: 40px;
    gap: 16px;
  }

  .paginator {
    margin-top: 40px;
  }

}
