@media (max-width: 769px) {
  .registration-right {
    margin-left: 22px;
  }

  .registration-right-header {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
  }

  .registration-right-p {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
  }

  .registration-right-ul {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
  }

  .li {
    margin-top: 16px;
  }
}
