  .cart-container {
    margin-top: 39px;
    margin-bottom: 96px;
  }

  .cart-product {
    //width: 358px;
  }

  .cart-product-descr {
    height: 188px;
  }

  .cart-product-close {
    top: 17px;
    right: 12px;
  }

  .cart-product-header {
    margin-bottom: 25px;
    width: 143px;
  }

  .cart-product-header-a {
    font-size: 16px;
    line-height: 19px;
  }

  .cart-product-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
  }

  .image {
    //width: 143px;
    height: 188px;
  }

  .cart-product-descr {
    padding: 13px 17px;
  }

  .cart-controls {
    margin-top: 30px;
  }

  .cart-controls-button {
    font-size: 12px;
    line-height: 14px;
    font-style: normal;
    font-weight: normal;
    text-transform: none;
    padding: 8px 17px;
  }

  .cart-right {
    margin-top: 48px;
  }

  .cart-summary {
    margin-top: 48px;
  }

  .cart-form-input {
    width: 100%;
  }

  .quantity {
    font-size: 10px;
    line-height: 12px;
  }


