.product-image {
  height: 624px;
}

.product-image-img {
  height: 410px;
}

.description-container {
  padding: 0;
  margin-bottom: 64px;
}

.product-text {
  max-width: 326px;
}

.product-line {
  width: 174px;
  margin-top: 32px;
}

.product-filter-detail {
  margin-top: 50px;
  font-size: 10px;
  line-height: 12px;
  color: #6F6E6E;
}


