* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Lato, sans-serif;
    font-style: normal;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.header {
    background-color: #222;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_search  {
    margin-left: 41px;
}

.header_account {
    margin-left: 34px;
    margin-right: 34px;
}

.promo {
    background: rgba(113, 103, 105, 0.08);
    padding-left: calc(50% - 800px );
    display: flex;
}

.promo_left {
    width: 50%;
}

.promo_img {
    width: 100%;
}

.promo_right {
    width: 50%;
    background: #F1E4E6;
    display: flex;
    align-items: center;
    padding-left: 64px;
}

.promo-content {
    display: flex;
}

.promo-rectangle {
    background: #F16D7F;
    width: 12px;
    margin-right: 16px;
}

.promo-heading {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}

.promo-text {
    font-weight: 700;
    font-size: 32px;
    line-height: 38.4px;
    color: #222222;
}

.brand-color {
    color: #F16D7F;
}

.catalog {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
}

.catalog_item {
    position: relative;
}

.catalog_item:not(:last-child) {
    margin-right: 30px;
}

.catalog_img {
    width: 100%;
}

.catalog_item_big {
    margin-top: 30px;
    position: relative;
}

.catalog_img_big {
    width: 100%;
}

.item-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.catalog_text {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.catalog_heading {
    font-weight: 700;
    font-size: 24px;
    line-height: 28.8px;
    text-align: center;
    /*color: #F16D7F;*/
}

.feature {
    margin-top: 97px;
}

.feature-h2 {
    text-align: center;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}

.feature-p {
    margin-top: 6px;
    text-align: center;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}

.products {
    margin-top: 47px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.product {
    flex-grow: 1;
    flex-basis: 360px;
    max-width: 360px;
    background: #F8F8F8;
}

.product-title {
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    margin-top: 25px;
    padding-left: 18px;
}

.product-descr {
    margin-top: 12px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    padding-left: 18px;
}

.product-price {
    margin-top: 18px;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    margin-bottom: 20px;
    padding-left: 18px;
}

.products-link-block {
    margin-top: 55px;
    display: flex;
    justify-content: center;
}

.products-link {

    padding: 14px 38px;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    border: 1px solid #FF6A6A;
}

.footer {
    margin-top: 96px;
}

.footer-top {
    height: 341px;
    background: #222224;
    display: flex;
    justify-content: space-between;
}

.footer-middle {
    height: 448px;
    background: rgba(244, 244, 244, 0.7);
    display: flex;
    justify-content: space-around;
    background-image: url("img/footer-background.png");
}

.footer-bottom {
    height: 79px;
    background: #222224;
    display: flex;
    justify-content: space-between;
}

.footer-top-item {
    width: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer-top-h4 {
    margin-top: 25px;
    font-weight: normal;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;

}

.footer-top-p {
    margin-top: 16px;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
}

.footer-middle-item {
    width: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer-middle-p {
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
    margin-top: 30px;
}

.footer-middle-h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 38px;
    text-align: center;
    color: #222224;
}

.footer-middle-form-p {
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #222224;
    margin-bottom: 32px;
}

.form-input {
    background: #E1E1E1;
    padding: 7px 22px;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /*display: flex;*/
    /*align-items: center;*/
    color: #222224;
    opacity: 0.67;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.form-button {
    padding: 8px 22px;
    background: #F16D7F;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /*display: flex;*/
    /*align-items: center;*/
    text-align: center;
    color: #FFFFFF;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.footer-bottom-p {
    margin-top: 30px;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.footer-bottom-social-logos {
    margin-top: 24px;
}

.social-white-logo {
    background: #FFFFFF;
    padding: 8px;
    margin-right: 3px;
}

.social-pink-logo {
    background: #F16D7F;
    padding: 8px;
    margin-right: 3px;
}
